@import "tailwindcss";
@plugin "daisyui";
@import url(https://unpkg.com/aos@next/dist/aos.css);
.container {
  width: 100%;
  @media (width >= 40rem /* 640px */) {
    max-width: 40rem /* 640px */;
  }
  @media (width >= 48rem /* 768px */) {
    max-width: 48rem /* 768px */;
  }
  @media (width >= 64rem /* 1024px */) {
    max-width: 64rem /* 1024px */;
  }
  @media (width >= 80rem /* 1280px */) {
    max-width: 80rem /* 1280px */;
  }
  @media (width >= 1400px /* 1536px */) {
    max-width: 1400px /* 1536px */;
  }
}

.activeColor {
  color: #516ebf;
}
.bg-slider-1 {
  background-image: url(/public/image/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-slider-2 {
  background-image: url(/public/image/hero2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner {
  background-image: url(/public/image/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed
}

.swiper-pagination-bullet {
  @apply !bg-transparent !border !border-[#516EBF] !w-[15px] !h-[15px];
}
.swiper-pagination-bullet-active {
  @apply !bg-[#516EBF] !w-[25px] !rounded-lg;
}
